{% extends "github/base.html" %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'github_repos/style.css' %}">
    <div class="container padded" style='padding-left: 20px'>
        <center>
            <h1>List of your repositories</h1>
        </center>

        {%if data%}
            {% for repo in data %}
                <li>
                    <a href= {{ repo.url }}>
                        {{ repo.name }}        
                    </a>
                </li>
            {% endfor %}
        {%endif%}
        </br>
        <button class="open-button">Open Form</button>
    </div>    
{% endblock %}